{% extends "admin_base.html" %}
{%block extra_includes%}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}fullcalendar/fullcalendar.css" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}fullcalendar/fullcalendar.print.css" media="print" />
<script type="text/javascript" src="{{MEDIA_URL}}jquery/jquery-ui-1.8.23.custom.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}fullcalendar/fullcalendar.min.js"></script>

{%endblock%}
{%block content_body %}
<div id="calendar" style="margin-top:10px;width:800px;"></div>
<div class="modal none" id="modal-availability">
   <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="$('#modal-availability').modal('toggle')">&times;</button>
     <h3>Add availability</h3>
   </div>
   <div class="modal-body">
     <div class="control-group" id="container_available_start_date">
      <label for="id_available_start_date">Available Start Date:</label>
      <div class="input">
	<input type="text" id="id_available_start_date" name="available_start_date" class="input-xlarge"> 
	<div id="message_available_start_date" class="help-inline"></div>
      </div>
    </div>
    <div class="control-group" id="container_available_end_date">
      <label for="id_available_end_date">Available End Date:</label>
      <div class="input">
	<input type="text" id="id_available_start_date" name="available_end_date" class="input-xlarge"> 
	<div id="message_available_end_date" class="help-inline"></div>
      </div>
    </div>
   </div>
    <div class="modal-footer">
      <a href="javascript:void(0)" class="btn" onclick="$('#modal-availability').modal('toggle')">Close</a>
      <a href="javascript:void(0)" class="btn btn-primary" onclick="Admin.confirm_availability()">Save</a>
      <a href="javascript:void(0)" class="btn btn-danger" onclick="Admin.remove_availability()">Remove</a>
    </div>
    {{form.available_id}}
</div>
{%endblock%}
{%block script_includes%}

<script type="text/javascript">

	$(document).ready(function() {
	
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		
		var calendar = $('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			selectable: true,
			selectHelper: true,
                        eventClick: Admin.edit_event,
                       
                        select:Admin.add_availability,
			editable: true,
			events: [
			]
		});
		
	});

function this_can(ding){
	alert(ding);
	}

</script>
{%endblock%}

