{% extends "admin_base.html" %}

{%block content_body %}
<style type="text/css">
  .category-container ul{
  list-style:none;  
  }  
</style>
<div class="row">
  <div class="span4 category-container">
    <a href="javascript:void(0)" onclick="Admin.add_category(0)"><i class="icon-plus"></i>Add new category</a>
    <ul>
      {%for category in categories%}      
	<li class="category-list" id="container_{{category.id}}">
	  <a href="javascript:void(0)" onclick="Admin.get_subcategories({{category.id}})">{{category.name}}</a>
	  <span class="category-mod" id="category-mod-{{category.id}}">
	    <i class="icon-edit pointer" onclick="Admin.edit_category({{category.id}})"></i> | 
	    <i class="icon-trash pointer" onclick="Admin.delete_category({{category.id}})"></i>
	  </span>
	</li>
      {%endfor%}
    </ul>
  </div>
  <div class="span4">
    <div id="subcategory_holder" class="none">    
      <div>    
	<a href="javascript:void(0)" onclick="Admin.add_subcategory()">Add new item in this category</a>
      </div>
      <ul id="subcategory_container">
	
      </ul>
    </div>
    <input id="id_category_parent" type="hidden"/>
  </div>
</div>
<div class="modal none" id="add-category">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Add</h3>
  </div>
  <div class="modal-body">
    <div class="control-group" id="container_name">	  
      <label>Name</label>
      <input type="text" id="id_name" class="span8"/>
      <span id="message_name" class="help-inline"></span> 
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn">Close</a>
    <a href="javascript:void(0)" onclick="Admin.save_category()" class="btn btn-primary">Save changes</a>
  </div>
  
</div>
<input type="hidden" id="id_object_id"/>
<input type="hidden" id="id_parent"/>
<script type="text/template" id="subcategory_template">
  <li class="category-list" id="container_<%=id%>"><%=name%> 
    <span class="category-mod" id="category-mod-<%=id%>">
      <i class="icon-edit pointer" onclick="Admin.edit_category(<%=id%>)"></i> | 
      <i class="icon-trash pointer" onclick="Admin.delete_category(<%=id%>)"></i>
    </span>
  </li>
</script>
{%endblock%}
{%block script_includes%}

{%endblock%}
