.none{display:none;}
.pointer{cursor:pointer;}
.topbar-wrapper {
    height: 40px;
    margin: 0;
    position: relative;
}

.booked-event,
.booked-event div,
.booked-event span {
    background-color: green; /* background color */
    border-color: green;     /* border color */
    color: yellow;           /* text color */
}


