@charset "utf-8";
/* CSS Document */
body {
	font-family: Tahoma, Geneva, sans-serif;
	font-size:13px;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: #730707;
	font-family: 'Titillium Web', sans-serif;
}
h2{
	font-size:22px;
	line-height:20px;
}
h4{
	font-size:15px;
	line-height:20px;
}
#sidebar h4{
	text-transform: uppercase;
}
header#header{
	background:url(../img/head_bg.jpg) repeat-x;
}
#primary-link{
	position:relative;
}
#primary-link .btn.btn-navbar#alt{
	background-color: whiteSmoke;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#f7f7f7),to(#E6E6E6));
	background-image: -webkit-linear-gradient(top,#f7f7f7,#E6E6E6);
	background-image: -o-linear-gradient(top,#f7f7f7,#E6E6E6);
	background-image: linear-gradient(to bottom,#f7f7f7,#E6E6E6);
	background-image: -moz-linear-gradient(top,#ff8,#E6E6E6);
	float:left !important;
}
#primary-link .btn.btn-navbar.collapsed#alt{
	background-color: #690808;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#801f1f),to(#690808));
	background-image: -webkit-linear-gradient(top,#801f1f,#690808);
	background-image: -o-linear-gradient(top,#801f1f,#690808);
	background-image: linear-gradient(to bottom,#801f1f,#690808);
	background-image: -moz-linear-gradient(top,#801f1f,#690808);
}
#primary-link .dropdown-menu{
	color: #fff;
	min-width: 200px;
	padding: 5px 0;
	background-color: #730707;
	border: none;
	border-top:6px solid #620606;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
#primary-link .dropdown-menu > li > a{
	color:#fff;
	font-size:11px;
	line-height:24px;
	border-top:1px solid #812020;
}
#primary-link .dropdown-menu > li > a:hover{
	background:#812020 !important;
}
.navbar #primary-link .nav > li > .dropdown-menu::after{
	display:none;
}
.navbar #primary-link .nav > li > .dropdown-menu::before{
	display:none;
}
#search{
	background:#fff url(../img/arrow_search.jpg) no-repeat;
	background-position:208px;
}
#main{
	position:relative;
}
#main{
	position:relative;
}
#main .aside{
	width: 45%;
}
#main aside{
	background: url(../img/soft-line.jpg) no-repeat right top;
	position:relative;
}
#main aside > .nav.nav-list{
	padding-top:5px;
	margin: 10px 10px 25px 0;
	border-top: 1px solid #ddd;
	list-style-image:url(../img/list-style.png);
}
#main aside > .nav.nav-list > li{
	margin: 2px 0;
	text-align:left;
}
.caret-right {
  border-left: 4px solid $000 !important;
  border-right: 0 !important;
  border-top: 4px solid transparent !important;
  border-bottom: 4px solid transparent !important;
}
#main aside > .nav.nav-list > li > a{
	margin-right: 10px;
	padding-left:20px;
	color: #666;
	font-size: 12px;
	text-align:left;
}
#main aside > .nav.nav-list > li.active{
	list-style-image:url(../img/list-style-hover.png);
}
#main aside > .nav.nav-list > li.active > a{
	background: #640606 !important;
	color:#fff;
	text-shadow:none;
}
#main aside > .nav.nav-list > li > a.btn{
	border :1px solid #eee;
	border-bottom:1px solid #ddd;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: whiteSmoke;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#f7f7f7),to(#E6E6E6));
	background-image: -webkit-linear-gradient(top,#f7f7f7,#E6E6E6);
	background-image: -o-linear-gradient(top,#f7f7f7,#E6E6E6);
	background-image: linear-gradient(to bottom,#f7f7f7,#E6E6E6);
	background-image: -moz-linear-gradient(top,#f7f7f7,#E6E6E6);
}
#main article > .content-inner{
	padding-top: 5px;
	margin: 10px 0 25px 0;
	border-top: 1px solid #ddd;
}

/*---MAP---*/
#map{
	margin-top:50px;
	position:relative;
}
.point{
	display:none;
	position:absolute;
}
#map .popover{
	font-size:11px;
}
#map .table th, .table td{
	line-height:10px;
}
/*---*/


footer#footer{
	background:#610506 url(../img/foot_bg.jpg) top repeat-x;
	min-height:165px;
	color:#fff;
	font-size:12px;
	margin-bottom:35px;
	position:relative;
}
#copy-write{

}
#footer #copy-write [class^="icon-"], #footer #signup-bottom [class^="icon-"]{
	width:16px;
	height:17px;
	background-image:url(../img/social-icon.png);
}
.icon-info{
	background-position:0 0;
}
#copy-write h3 {
	font-weight: normal;
	font-size: 15px;
	margin-bottom:0;
	color:#fff;
}
#footer p, #social {
	padding:5px;
	margin:0;
}
#footer label{
	font-size:16px;
	display:inline-block;
	line-height: 10px;
}
#footer ul.social{
	display:inline-block;
	margin:0 !important;
}
.icon-facebook {
	background-position: 0 -17px;
}
.icon-twitter {
	background-position: 0 -34px;
}
.icon-rss {
	background-position: 0 -51px;
}
.icon-email {
	background-position: 0 -68px;
}
#footer ul.social li{
	display:block;
	float:left;
	margin-left:5px;
	line-height:20px;
}

.to-top{
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#690808),to(#801f1f ));
	background-image: -webkit-linear-gradient(top,#690808,#801f1f );
	background-image: -o-linear-gradient(top,#690808,#801f1f );
	background-image: linear-gradient(to bottom,#690808,#801f1f );
	background-image: -moz-linear-gradient(top,#690808,#801f1f );
	-webkit-border-radius: 0 0 2px 2px;
	-moz-border-radius: 0 0 2px 2px;
	border-radius: 0 0 2px 2px;
	border-bottom: 1px solid #7C2424;
	width:35px;
	padding:3px 10px;
	border-top:1px solid #3D0A0A;
	font-size:11px;
	color:#fff;
	text-decoration: none;
	display:block;
	padding-top:15px;
	position: absolute;
	bottom: -40px;
	margin-left:35px;
}
.to-top:hover{
	text-decoration: none;
	color:#fff;
}
#signup-bottom {
	background: #450505;
	-webkit-border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
	border-bottom: 1px solid #7C2424;
}
#signup-bottom legend {
	display: block;
	width: auto;
	padding: 0;
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 20px;
	color: #fff;
	border: 0;
	border-bottom: 0;
	margin-top:15px;
}
.icon-newsletter{
	background-position:0 -85px;
	margin-top:5px;
}
.inner-signup {
	padding: 0 20px;
}
#signup-bottom > form{
	margin:0 20px 20px 20px;
	text-align:center;
}
#signup-bottom label[for="subscribe"]{
	font-size:11px;
}
#subscribe {
	width: 95%;
	height: 15px;
}
#signup{
	background-color: #690808;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#801f1f),to(#690808));
	background-image: -webkit-linear-gradient(top,#801f1f,#690808);
	background-image: -o-linear-gradient(top,#801f1f,#690808);
	background-image: linear-gradient(to bottom,#801f1f,#690808);
	background-image: -moz-linear-gradient(top,#801f1f,#690808);
	padding:3px 10px;
}
.dropdown.open > .dropdown-menu {
	display: block;
}
.dropdown > .dropdown-menu {
	display: none;
}

.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	
	border-left: 3px solid #aaa;
}
@media (max-width: 979px) {
	#closeOpen {
		position: absolute;
		background: #F3F3F3;
		top: 40px;
		z-index: 10;
		border-radius: 0 0 5px 5px;
		border-bottom: 1px solid #CCC;
	}
	#closeOpen > .nav{
		margin: 2px 12px;
	}
	#main aside > ul.nav.nav-list.nav1{
		float:left;
		margin-left:10px;
	}
	#main aside > ul.nav.nav-list.nav2{
		float:right;
	}
	#main aside > .nav.nav-list {
		width: 210px;
		z-index: 10;
	}
	#main article {
		width: 100%;
	}
	#main aside#sidebar{
		position: absolute;
		width: 100%;
		background:none;
	}
	#main article > .content-inner{
		position:relative;
		border-top: 2px #ddd solid;
	}
	#map{
		height: 500px;
	}
	#sidebar h4{
		display:none;
	}
	#main aside > .nav.nav-list{
		padding:0;
		margin: 0;
		border-top: none;
	}
}
@media (min-width: 979px){
	#map{
		height: 600px;
	}
	#primary-link{
		background:url(../img/primary-link.jpg) top repeat-x;
		text-transform:uppercase;
		border-top: none;
		font-size: 13px;
	}
	#primary-link  ul > li > a:hover{
		background:url(../img/primary-link.jpg) bottom repeat-x;
		color:#fff;
		text-shadow: none;
	}
	aside > ul.nav,	aside > ul.nav.nav-list.collapse {
		height:auto !important;
	}
	#main .aside {
		display:none;
	}
}
@media (max-width: 767px){
	#map{
		height:350px;
	}
}
/*from previous css*/
div.albums{
    padding-top:10px;
}
div.album{
    float:left;
    margin-right: 4px;
}
div.album.last{
    margin-right: 0;
}
div.albums-row{
    padding-top:20px;
}
div.album-title{
    padding-bottom: 10px;
}
div.album-title a{
    color:#730707;
    font:bold 12px/12px Tahoma, sans-serif;
    text-decoration: none;
}
div.album-cover{
    width:214px;
    height:171px;
    background: url(../img/album-frame.png) no-repeat;
    padding:5px;
    position: relative;
}
div.album-cover-holder{
    height:155px;
    overflow:hidden;
}
div.album-cover div.likebox, div.pic-frame div.likebox{
    position: absolute;
    bottom:15px;
    right:14px;
    border:1px solid #ccc;
    height: 20px;
    background: #fff;
    line-height: 18px;
}
div.likebox a{
    margin:0;
    padding:0;
}
div.likebox img{
    margin:0;
    padding:0;
}
div.pagination{
    border:1px solid #ccc;
    line-height: 28px;
    height:28px;
    padding:0 20px;
}
.none{display:none;}
.hidden{visibility:hidden;}
.pic-frame{
    width:150px;
    padding:5px;
    border: 1px solid #ccc;
    position: relative;
}
div.pic-gallery div.pic-frame img:first{
    width: 150px;
    height: 120px;
}

div.pic-frame div.likebox{
    bottom: 0;
    right: -1px;
}

div.albums.pic-gallery div.album{
    margin-right: 10px;
}
div.albums.pic-gallery div.album.last{
    margin-right: 0;
}

.show-count{
    float:right;
    font:normal 11px/28px Tahoma, sans-serif;
    color:#555;    
}

div.pic-gallery3 div.pic-frame{
    width: 210px;
}
div.pic-gallery3 div.pic-frame div.likebox{
    bottom:10px;
    right: 70px;
}
div.pic-gallery3 div.pic-frame img.kappa3{
    width: 210px;
    height: 165px;
}
div.photo-top{
    width: 380px;
    margin-right: 20px;
    float:left;   
}

div.photo-top header, div.party-top header{
    height:29px;
    background:none;
    border-bottom:1px solid #ccc;
}

div.photo-top-content{
    padding-top: 10px;
}

div.photo-top-item{
    width: 195px;
    float:left;
    margin-top: 10px;
}
div.photo-top-item.second{
    width: 185px;
}
div.photo-place{
    width:24px;
    border:1px solid #ccc;
    height: 23px;
    font:normal 14px/23px Tahoma, sans-serif;
    color:#7c7c7c;
    text-align: center;
    float: left;
    border-right: none;
    /*background: url(../img/bg-place.png) repeat-x;*/
}
.second div.top-photo div.pic-frame{
    margin-right: 0;
}

div.top-photo div.pic-frame{
    float:left;
    padding: 4px;
    margin-right: 10px;
}
#album-loader img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#image-modal .modal-body {
	max-height: 550px;
}

#image-modal .modal-body #display-image{
	max-height: 550px;
}
/*from previous css ends*/
/*custom styles*/
.total-amount-container{
    margin:50px 0px 0px 0px;
}
.total-amount{
    font-weight:bold;
    color: #730707;
    font-size:24px;
}
/*custom styles end*/