{% extends "site_base.html" %}
{%block extra_includes%}
<link rel="stylesheet" href="{{MEDIA_URL}}/css/jquery.lightbox-0.5.css">
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.lightbox_me.js"></script> 
{%endblock%}
{%block page-title%}
{{page_title}}
{%endblock%}}
{% block content_body%}

<div id="album-loader" class="none">
  <img src="{{MEDIA_URL}}images/album-loader.gif" />
</div>
<div class="albums" id="albums-container">
  
</div>
<div class="pagination desp15">
  <ul id="pagination-container">  
    
  </ul>  
  <div class="show-count">
    <label for="show">Show</label>
    <select id="show-count">
      <option value="20">20</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>
  </div>
</div>
<div id="lightbox-test"  class="none">
  <div id="image-display-container" style="background-color:#ffffff;padding:10px;">  
    <img src="" id="display-image" class="display-image"/>
  </div>
  <div class="likebox" style="text-align:center;">
    
    <a href="/app/download?img" id="download-image"><img src="{{MEDIA_URL}}images/download.gif" alt="download image"></a>
    <a href="javascript:void(0)" onclick="vote_current_image()">      
      <img src="{{MEDIA_URL}}img/like.jpg">
      <img src="{{MEDIA_URL}}images/small-loader.gif" class="none" id="current_image"/>
    </a>
  </div>

  <div id="lightbox-nav" style="height:20%;">
    <a id="lightbox-nav-btnPrev" href="javascript:void(0)" style="height: 110px; background: url('{{MEDIA_URL}}images/lightbox-btn-prev.gif') no-repeat scroll left 15% transparent;" onclick="steerImage('previous')"></a>
    <a id="lightbox-nav-btnNext" href="javascript:void(0)" style="height: 110px; background: url('{{MEDIA_URL}}images/lightbox-btn-next.gif') no-repeat scroll right 15% transparent;" onclick="steerImage('next')"></a>
  </div>
</div>

<input type="hidden" name="selected_image" id="id_selected_image" />
<input type="hidden" name="media_url" id="id_media_url" value="{{MEDIA_URL}}"/>
<input type="hidden" name="college_name" id="id_college_name" value="{{college_name}}"/>
<input type="hidden" name="subcategory_name" id="id_subcategory_name" value="{{subcategory_name}}"/>
<input type="hidden" name="photo_order" id="id_photo_order" value="{{photo_order}}"/>
<input type="hidden" name="search_query" id="id_search_query" value="{{search_query}}"/>
{%endblock%}
{%block script_includes%}
<script src="{{MEDIA_URL}}js/underscore.js"></script>
<script src="{{MEDIA_URL}}js/backbone.js"></script>
<script src="{{MEDIA_URL}}js/jquery.imagesloaded.min.js"></script>
<script type="text/template" id="album-photo">
  <div class="album">
    <div class="pic-frame">

      <a href="javascript:void(0)" onclick="displayImage('{{MEDIA_URL}}uploads/<%=display%>', <%=image_id%>)">
	<img src="{{MEDIA_URL}}uploads/<%=thumbnail%>">
      </a>	
      <div class="likebox">
	<img src="{{MEDIA_URL}}images/small-loader.gif" class="none" id="album_image_loader_<%=image_id%>"/>	
        <a href="javascript:void(0)" onclick="vote(1,<%=image_id%>,'image')">
	  <img src="{{MEDIA_URL}}img/like.jpg">
	</a>
      </div>
    </div>                            
  </div>
</script>
<script type="text/template" id="album">
  <div class="album" id="album_cover_<%=album_id%>">
    <div class="album-title">
      <a href="#<%=album_id%>/1"><%=name%></a>
    </div>
    <div class="album-cover">
      <div class="album-cover-holder">      
	<a href="#<%=album_id%>/1"><img alt="" src="{{MEDIA_URL}}uploads/<%=cover_photo%>"></a>
	<div class="likebox">
	  <img src="{{MEDIA_URL}}images/small-loader.gif" class="none" id="album_cover_loader_<%=album_id%>"/>
          <a href="javascript:void(0)" onclick="vote(1,<%=album_id%>,'album')">
	    <img src="{{MEDIA_URL}}img/like.jpg">
	  </a>
	</div>
      </div>
    </div>
  </div>
</script>
<script type="text/template" id="album-new">
  <div style="margin:0 auto;width:450px;">
    <a href="#<%=album_id%>/1"><img alt="" src="{{MEDIA_URL}}uploads/<%=cover_photo%>"></a>
    <div class="likebox" style="text-align:center;width:450px;" >
      <img src="{{MEDIA_URL}}images/small-loader.gif" class="none" id="album_cover_loader_<%=album_id%>"/>
      <a href="javascript:void(0)" onclick="vote(1,<%=album_id%>,'album')" >	
	<img src="{{MEDIA_URL}}img/like.jpg" style="border:1px solid #CCCCCC;">
      </a>
    </div>  
    
  </div>
</script>
<script type="text/template" id="albums-row" >
  <div class="albums-row clearfix" id="albums-row-<%=id%>">
  </div>
</script>
<script type="text/javascript" src="{{MEDIA_URL}}js/album.js"></script> 
{%endblock%}
