{% extends "site_base.html" %}
{%block extra_includes%}

{%endblock%}
{% block content_body%}
<div class="university">
  <header>
    {{name}}
  </header>
  
</div>
<div id="album-loader" class="none">
  <img src="{{MEDIA_URL}}images/album-loader.gif" />
</div>
<div class="albums" id="photo-container">
  
</div>  
{%endblock%}
{%block script_includes%}
<script src="{{MEDIA_URL}}js/underscore.js"></script>
<script src="{{MEDIA_URL}}js/backbone.js"></script>
<script type="text/template" id="album-photo">
  <div class="album">
    <div class="pic-frame">

      <img src="{{MEDIA_URL}}uploads/<%=thumbnail%>">
      <div class="likebox">
        <a href="">
	  <img src="http://localhost:8090/fratography_static/img/like.jpg">
	</a>
	<a href="">
	  <img src="http://localhost:8090/fratography_static/img/notlike.jpg">
	</a>
      </div>
    </div>                            
  </div>
</script>
<script type="text/template" id="albums-row">
  <div class="albums-row clearfix" id="albums-row-<%=id%>">
    
  </div>
</script>
<script type="text/javascript" src="{{MEDIA_URL}}js/album.js"></script> 
{%endblock%}

