{% extends "site_base.html" %}
{%block extra_includes%}

{%endblock%}
{% block content_body%}
<div class="university">
  <header>
    <img alt="" src="http://localhost:8090/fratography_static/img/recent.jpg">
  </header>
  
</div>
<div id="album-loader" class="none">
  <img src="{{MEDIA_URL}}images/album-loader.gif" />
</div>
<div class="albums" id="albums-container">
  
</div>  
{%endblock%}
{%block script_includes%}
<script src="{{MEDIA_URL}}js/underscore.js"></script>
<script src="{{MEDIA_URL}}js/backbone.js"></script>
<script type="text/template" id="album">
  <div class="album">
    <div class="album-title">
      <a href=""><%=name%></a>
    </div>
    <div class="album-cover">
      <a href=""><img alt="" src="{{MEDIA_URL}}uploads/<%=cover_photo%>"></a>
      <div class="likebox">
        <a href="javascript:void(0)"><img src="{{MEDIA_URL}}img/like.jpg"></a><a href=""><img src="{{MEDIA_URL}}img/notlike.jpg"></a>
      </div>
    </div>
  </div>
</script>
<script type="text/template" id="albums-row">
  <div class="albums-row clearfix" id="albums-row-<%=id%>">
    
  </div>
</script>
<script type="text/javascript" src="{{MEDIA_URL}}js/album.js"></script> 
{%endblock%}

