{% extends "site_base.html" %}

{%block page-title%}
{{page_title}}
{%endblock%}
{% block content_body%}
<div style="margin-bottom:50px;">
  <div id="contact-form">
    <div class="control-group" id="container_name">
      <label for="id_username">Name:</label>
      <div class="input">
	{{ form.name }}
	<div id="message_name" class="help-inline"></div>
      </div>
    </div>
    
    <div class="control-group" id="container_email">
      <label for="id_email">Email:</label>
      <div class="input">
	{{ form.email }}
	<div id="message_email" class="help-inline"></div>
      </div>
    </div>
    
    <div class="control-group" id="container_inquiry">
      <label for="id_inquiry">Inquiry:</label>
      <div class="input">
	<textarea id="id_inquiry"></textarea>
	<div id="message_email" class="help-inline"></div>
      </div>
    </div>
    <a class="btn" href="javascript:void(0)" onclick="App.Base.submit_contact()">Submit</a>
  </div>
  <div id="success-message" class="none">
    <h4>Thank you for writing to us. We will get back to you soon!!!</h4>
  </div>
</div>
{%endblock%}
