<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>{%block title%}{%endblock%}</title>
  
  <link rel="stylesheet" href="{{MEDIA_URL}}css/bootstrap.min.css">
  <link rel="stylesheet" href="{{MEDIA_URL}}css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="{{MEDIA_URL}}css/style.css">
  
  <!--GOOGLE FONT, UNCOMMENT THIS STYLESHEET TO CHANGE HEADER FONT FAMILY
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400' rel='stylesheet' type='text/css'>
  -->
  <!--http://www.google.com/webfonts-->
  
  <script type="text/javascript" src="{{MEDIA_URL}}js/jquery.min.js"></script>
  <script type="text/javascript" src="{{MEDIA_URL}}js/bootstrap.min.js"></script>
  <script src="{{MEDIA_URL}}js/script.js"></script>  
  {% block extra_includes%}
  {%endblock%}  
  
</head>

<body>
  <header id="header">
    <section class="container">
      <a href="/"><img src="{{MEDIA_URL}}img/logo-fratography--remembering-the-night-you-dont-old.jpg" alt="Fratography | Remembering the night you don't" /></a>
    </section>
    <section class="container">
      <div class="navbar">
        <nav id="primary-link" class="navbar-inner">
	  <a class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse" id="alt">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <form class="navbar-form pull-right" action="/app/search">
            <input type="text" placeholder="Search" name="q" id="id_q" class="search-query" value="{{search_query}}"/>
          </form>
          <div class="collapse nav-collapse pull-left" id="close-open">
            <ul class="nav">
              <li class="{{home}}"><a href="/">Home</a></li>
              <li class="{{frattiest}}">
                <a href="/frattiest/week">Frattiest Photos Of The Month</a>
                
              </li>
              <li class="{{contact}}"><a href="/contact">Contact</a></li>
            </ul>
          </div>
        </nav>
	<div class="container" style="text-align:center;">
	  <div id="loader"  class="container alert alert-block none" style="width:200px;font-weight:bold;font-size:16px;color:#000000"></div>
	  <div id="info"  class="container alert alert-info none"></div>
	  <div id="error"  class="container alert alert-error none"></div>
	</div>
      </div>
    </section>
    
  </header>
  
  <section class="container" id="main">
    <div style="text-align:center">
      <a href="#" class="btn btn-inverse btn-navbar collapsed aside" data-toggle="collapse" data-target=".nav1">
        <i class="icon-white icon-chevron-right pull-left"></i> FRATERNITIES
      </a>
      <a href="#" class="btn btn-inverse btn-navbar collapsed aside" data-toggle="collapse" data-target=".nav2">
        <i class="icon-white icon-chevron-left pull-right"></i> SORORITIES
      </a>
    </div>
    <div class="row" id="side">
      <aside class="span3" id="sidebar">
        <h4>Fraternities</h4>
        <ul class="nav nav-list nav1 collapse">
	  {%for fraternity in fraternities%}
	    
            <li {%ifequal fraternity.name subcategory_name%} class="active"{%endifequal%}><a href="/org/{{fraternity.name}}" class="btn">{{fraternity.name}}</a></li>
	  {%endfor%}	  
          
        </ul>
        <h4>Sororities</h4>
        <ul class="nav nav-list nav2 collapse">
	  {%for sorority in sororities%}
            <li {%ifequal sorority.name subcategory_name%} class="active"{%endifequal%}><a href="/org/{{sorority.name}}" class="btn">{{sorority.name}}</a></li>
	  {%endfor%}
        </ul>
      </aside>
      <script>
	$('.dropdown-toggle').hover(function(){
	$(this).find('.caret').css({'border-top-color' : '#fff'});
	},function(){
	$(this).find('.caret').css({'border-top-color' : '#777'});
	});
	$('.aside').click(function(){
	$(this).toggleClass('active');
	$(this).find('i').toggleClass('icon-chevron-down', 'icon-chevron-right');
	$($(this).attr('data-target')).left($(this).left());
	});
      </script>
      <article class="span7">
	<div class="row">	
	  <div class="span4"> 
	    <h2 id="page-title">{%block page-title%}{%endblock%}</h2>
	  </div>
	  <div class="span3">
	    <div class="pagination" style="margin:0;">
	      <ul id="pagination-container">  
		
	      </ul>  
	      <div class="show-count none">
		<label for="show">Show</label>
		<select id="show-count">
		  <option value="100">100</option>
		</select>
	      </div>
	    </div>	    
	  </div>	  
	  
	</div>
        <div class="row-fluid">
          {% block content_body%}
	  {% endblock %}	    
	</div>
      </article>
      <article class="span2">
	<a href="/contact"><img src="{{MEDIA_URL}}images/banner.png"/></a>
      </article>  
    </div>
  </section>
  
  <footer id="footer">
    <div class="container">
      <div class="row">
	<section id="copy-write" class="span8">
          <h3><i class="icon-info"></i> Copyright &copy; 2010 - 2013</h3>
          <p>
	    Fratography Inc. All Rights Reserved. All photography on this site is the property of Fratography Inc and cannot be used without permission except for personal use. If you are interested in using any photos, images or works from this site, please contact us for permission first.
          </p>
          <div id="social">
            <label>Follow me :</label>
            <ul class="social">
              <li><a href="#"><i class="icon-facebook"></i></a></li>
              <li><a href="#"><i class="icon-twitter"></i></a></li>
              <li><a href="#"><i class="icon-rss"></i></a></li>
              <li><a href="#"><i class="icon-email"></i></a></li>
            </ul>
          </div>
	</section>
      </div>
      <div class="row">
	<a href="#" class="to-top">Top <i class="icon icon-white icon-arrow-up"></i></a>
	<script>
	  $('.to-top').click(function(e){
	  $('html, body').animate({
	  scrollTop: 0
	  }, 800);
	  e.preventDefault();
	  })
	</script>
      </div>
    </div>
  </footer>
  
  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Modal header</h3>
    </div>
    <div class="modal-body">
      <p>One fine body</p>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary">Save changes</button>
    </div>
  </div>
{%csrf_token%}
  {%block script_includes%}
  {%endblock%}  
  
</body>
</html>
