{% extends "site_base.html" %}
{%block extra_includes%}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}fullcalendar/fullcalendar.css" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}fullcalendar/fullcalendar.print.css" media="print" />

{%endblock%}
{%block content_body %}
  <div id="calendar" style="margin-top:10px;width:800px;"></div>
  <div class="modal none" id="modal-booking" style="width:600px;">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="$('#modal-booking').modal('toggle')">&times;</button>
      <h3>Book for an Event</h3>
    </div>
    <div class="modal-body">
    <div class="row">
    <div class="span3">
      <div class="control-group" id="container_school">
	<label class="control-label" for="id_school">School:</label>
	<div class="controls">
	  {{form.school}}
	</div>
      </div>
      <div class="control-group" id="container_fraternity">
	<label class="control-label" for="id_fraternity">Fraternity:</label>
	<div class="controls">
	  {{form.fraternity}}  
          <div id="message_fraternity" class="help-inline"></div>	  
	</div>
      </div>
      <div class="control-group" id="container_address">
	<label class="control-label" for="id_address">Address:</label>
	<div class="controls">
	  {{form.address}}  
          <div id="message_address" class="help-inline"></div>	  
	</div>
      </div>
      <div class="control-group" id="container_city">
	<label class="control-label" for="id_city">City:</label>
	<div class="controls">
	  {{form.city}}  
          <div id="message_city" class="help-inline"></div>	  
	</div>
      </div>
      <div class="control-group" id="container_state">
	<label class="control-label" for="id_state">State:</label>
	<div class="controls">
	  {{form.state}}  
          <div id="message_state" class="help-inline"></div>	  
	</div>
      </div>
    </div>
    <div class="span3">
      <div class="control-group" id="container_start">
	<label class="control-label" for="id_start">Date:</label>
	<div class="controls">
          <span id="start-date"></span>	  
	  <input type="text" id="id_start" name="start" class="span2" style="display:none;"/>{{form.time_from_hour}}{{form.time_from_minute}}{{form.time_from_ampm}}}From
	</div>
      </div>
      <div class="control-group" id="container_start">
	<div class="controls">
	  {{form.time_from_hour}}{{form.time_from_minute}}{{form.time_from_ampm}} }To
	</div>
      </div>
    
    </div>
    </div>      
    </div>	
    <div class="modal-footer">
      <a href="javascript:void(0)" class="btn" onclick="$('#modal-booking').modal('toggle')">Close</a>
      <a href="javascript:void(0)" class="btn btn-primary" onclick="Admin.confirm_availability()">Save</a>
      <a href="javascript:void(0)" class="btn btn-danger" onclick="Admin.remove_availability()">Remove</a>
    </div>
  {{form.id}}
  </div>
{%endblock%}
{%block script_includes%}
<script type="text/javascript" src="{{MEDIA_URL}}jquery/jquery-ui-1.8.23.custom.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}fullcalendar/fullcalendar.min.js"></script>
<script type="text/javascript">

	$(document).ready(function() {
	
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		
		var calendar = $('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			selectable: true,
			selectHelper: true,
                        eventClick: App.Calendar.start_booking,
                       
                        select:function(){alert("You have to select an available slot to book")},
			editable: true,
			events: [
			],
                        eventSources:['/admin/available/time']  
		});
		
	});

function this_can(ding){
	alert(ding);
	}

</script>
{%endblock%}

