<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title></title>
  
  <link rel="stylesheet" href="{{MEDIA_URL}}css/bootstrap.min.css">
  <link rel="stylesheet" href="{{MEDIA_URL}}css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="{{MEDIA_URL}}css/style.css">
  
  <!--GOOGLE FONT, UNCOMMENT THIS STYLESHEET TO CHANGE HEADER FONT FAMILY
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400' rel='stylesheet' type='text/css'>
  -->
  <!--http://www.google.com/webfonts-->
  
  <script type="text/javascript" src="{{MEDIA_URL}}js/jquery.min.js"></script>
  <script type="text/javascript" src="{{MEDIA_URL}}js/bootstrap.min.js"></script>
  <script src="{{MEDIA_URL}}js/script.js"></script>  
  {% block extra_includes%}
  {%endblock%}  
  
</head>

<body>
  <header id="header">
    <section class="container">
      <img src="{{MEDIA_URL}}img/logo-fratography--remembering-the-night-you-dont.jpg" alt="Fratography | Remembering the night you don't" />
    </section>
    <section class="container">
      <div class="navbar">
        <nav id="primary-link" class="navbar-inner">
	  <a class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse" id="alt">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <form class="navbar-form pull-right">
            <input type="text" placeholder="Search" name="search" id="search" class="search-query" />
          </form>
          <div class="collapse nav-collapse pull-left" id="close-open">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Fratties Photos Of The Week <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Lorem Lipsum</a></li>
                  <li><a href="#">Sitamet Consect</a></li>
                  <li><a href="#">Adispicing</a></li>
                  <li><a href="#">Lorem Lipsum</a></li>
                  <li><a href="#">Sitamet Consect</a></li>
                  <li><a href="#">Adispicing</a></li>
                  <li><a href="#">Lorem Lipsum</a></li>
                  <li><a href="#">Sitamet Consect</a></li>
                  <li><a href="#">Adispicing</a></li>
                  <li><a href="#">Lorem Lipsum</a></li>
                  <li><a href="#">Sitamet Consect</a></li>
                  <li><a href="#">Adispicing</a></li>
                </ul>
              </li>
              <li><a href="#">Terms</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </section>
  </header>
  
  <section class="container" id="main">
    <div style="text-align:center">
      <a href="#" class="btn btn-inverse btn-navbar collapsed aside" data-toggle="collapse" data-target=".nav1">
        <i class="icon-white icon-chevron-right pull-left"></i> FRATERNITIES
      </a>
      <a href="#" class="btn btn-inverse btn-navbar collapsed aside" data-toggle="collapse" data-target=".nav2">
        <i class="icon-white icon-chevron-left pull-right"></i> SORORITIES
      </a>
    </div>
    <div class="row" id="side">
      <aside class="span3" id="sidebar">
        <h4>Fraternities</h4>
        <ul class="nav nav-list nav1 collapse">
          <li class="active"><a href="#" class="btn">Lorem Ipsum Dolor</a></li>
          <li><a href="#" class="btn">Sitamet Consecteur</a></li>
          <li><a href="#" class="btn">Adispicing Elite</a></li>
          <li><a href="#" class="btn">Sed Do Eusemud</a></li>
          <li><a href="#" class="btn">Lorem Ipsum Dolor</a></li>
          <li><a href="#" class="btn">Sitamet Consecteur</a></li>
          <li><a href="#" class="btn">Adispicing Elite</a></li>
          <li><a href="#" class="btn">Sed Do Eusemud</a></li>
          <li><a href="#" class="btn">Lorem Ipsum Dolor</a></li>
          <li><a href="#" class="btn">Sitamet Consecteur</a></li>
          <li><a href="#" class="btn">Adispicing Elite</a></li>
        </ul>
        <h4>Sororities</h4>
        <ul class="nav nav-list nav2 collapse">
          <li><a href="#" class="btn">Lorem Ipsum Dolor</a></li>
          <li><a href="#" class="btn">Sitamet Consecteur</a></li>
          <li><a href="#" class="btn">Adispicing Elite</a></li>
          <li><a href="#" class="btn">Sed Do Eusemud</a></li>
          <li><a href="#" class="btn">Lorem Ipsum Dolor</a></li>
          <li><a href="#" class="btn">Sitamet Consecteur</a></li>
          <li><a href="#" class="btn">Adispicing Elite</a></li>
          <li><a href="#" class="btn">Sed Do Eusemud</a></li>
          <li><a href="#" class="btn">Lorem Ipsum Dolor</a></li>
          <li><a href="#" class="btn">Sitamet Consecteur</a></li>
          <li><a href="#" class="btn">Adispicing Elite</a></li>
        </ul>
      </aside>
      <script>
	$('.dropdown-toggle').hover(function(){
	$(this).find('.caret').css({'border-top-color' : '#fff'});
	},function(){
	$(this).find('.caret').css({'border-top-color' : '#777'});
	});
	$('.aside').click(function(){
	$(this).toggleClass('active');
	$(this).find('i').toggleClass('icon-chevron-down', 'icon-chevron-right');
	$($(this).attr('data-target')).left($(this).left());
	});
      </script>
      <article class="span9">
	<h2 id="page-title">{%block page-title%}{%endblock%}</h2>
        <div class="content-inner">
          {% block content_body%}
	  {% endblock %}	    
	</div>
      </article>
    </div>
  </section>
  
  <footer id="footer">
    <div class="container">
      <div class="row">
	<section id="copy-write" class="span8">
          <h3><i class="icon-info"></i> Copyright &copy; 2014 - 2012</h3>
          <p>
	    LastNightsParty Inc. All Rights Reserved. All photography on this site is the property of LastNightsParty Inc and cannot be used without permission except for personal use. If you are interested in using any photos, images or works from this site, please contact us for permission first.
          </p>
          <div id="social">
            <label>Follow me :</label>
            <ul class="social">
              <li><a href="#"><i class="icon-facebook"></i></a></li>
              <li><a href="#"><i class="icon-twitter"></i></a></li>
              <li><a href="#"><i class="icon-rss"></i></a></li>
              <li><a href="#"><i class="icon-email"></i></a></li>
            </ul>
          </div>
	</section>
	<section id="signup-bottom" class="span4">
          <div class="inner-signup">
            <form class="clearfix">
              <legend><i class="icon-newsletter"></i> Newsletter Signup</legend>
              <label for="subscribe">Special offers, extra departures and news</label>
              <input type="text" name="subscribe" id="subscribe" />
              <input type="button" class="btn btn-mini btn-danger pull-right" id="signup" value="signup" />
            </form>
          </div>
	</section>
      </div>
      <div class="row">
	<a href="#" class="to-top">Top <i class="icon icon-white icon-arrow-up"></i></a>
	<script>
	  $('.to-top').click(function(e){
	  $('html, body').animate({
	  scrollTop: 0
	  }, 800);
	  e.preventDefault();
	  })
	</script>
      </div>
    </div>
  </footer>
  
  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Modal header</h3>
    </div>
    <div class="modal-body">
      <p>One fine body</p>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary">Save changes</button>
    </div>
  </div>
{%csrf_token%}
  {%block script_includes%}
  {%endblock%}  
  
</body>
</html>
