{% extends "site_base.html" %}
{% block content_body%}
<div class="photo-top">
  <header>
    <img src="{{MEDIA_URL}}img/top-photo.jpg" />
  </header>
  <div class="photo-top-content clearfix">
    <div class="photo-top-item">
      <div class="photo-place">
        01
      </div>
      <div class="top-photo">
        <div class="pic-frame">
          <img src="{{MEDIA_URL}}img/pic-please.png" alt="An awesome pic" width="150" height="120" />
          <div class="likebox">
            <a href=""><img src="{{MEDIA_URL}}img/like.jpg" /></a><a href=""><img src="{{MEDIA_URL}}img/notlike.jpg" /></a>
          </div>
        </div>
      </div>
    </div>
    <div class="photo-top-item second">
      <div class="photo-place">
        02
      </div>
      <div class="top-photo">
        <div class="pic-frame">
          <img src="{{MEDIA_URL}}img/pic-please.png" alt="An awesome pic" width="150" height="120" />
          <div class="likebox">
            <a href=""><img src="{{MEDIA_URL}}img/like.jpg" /></a><a href=""><img src="{{MEDIA_URL}}img/notlike.jpg" /></a>
          </div>
        </div>
      </div>
    </div>
    <div class="photo-top-item">
      <div class="photo-place">
        03
      </div>
      <div class="top-photo">
        <div class="pic-frame">
          <img src="{{MEDIA_URL}}img/pic-please.png" alt="An awesome pic" width="150" height="120" />
          <div class="likebox">
            <a href=""><img src="{{MEDIA_URL}}img/like.jpg" /></a><a href=""><img src="{{MEDIA_URL}}img/notlike.jpg" /></a>
          </div>
        </div>
      </div>
    </div>
    <div class="photo-top-item second">
      <div class="photo-place">
        04
      </div>
      <div class="top-photo">
        <div class="pic-frame">
          <img src="{{MEDIA_URL}}img/pic-please.png" alt="An awesome pic" width="150" height="120" />
          <div class="likebox">
            <a href=""><img src="{{MEDIA_URL}}img/like.jpg" /></a><a href=""><img src="{{MEDIA_URL}}img/notlike.jpg" /></a>
          </div>
        </div>
      </div>
    </div>
    <div class="photo-top-item">
      <div class="photo-place">
        05
      </div>
      <div class="top-photo">
        <div class="pic-frame">
          <img src="{{MEDIA_URL}}img/pic-please.png" alt="An awesome pic" width="150" height="120" />
          <div class="likebox">
            <a href=""><img src="{{MEDIA_URL}}img/like.jpg" /></a><a href=""><img src="{{MEDIA_URL}}img/notlike.jpg" /></a>
          </div>
        </div>
      </div>
    </div>
    <div class="photo-top-item second">
      <div class="photo-place">
        06
      </div>
      <div class="top-photo">
        <div class="pic-frame">
          <img src="{{MEDIA_URL}}img/pic-please.png" alt="An awesome pic" width="150" height="120" />
          <div class="likebox">
            <a href=""><img src="{{MEDIA_URL}}img/like.jpg" /></a><a href=""><img src="{{MEDIA_URL}}img/notlike.jpg" /></a>
          </div>
        </div>
      </div>
    </div>
    <div class="photo-top-item">
      <div class="photo-place">
        07
      </div>
      <div class="top-photo">
        <div class="pic-frame">
          <img src="{{MEDIA_URL}}img/pic-please.png" alt="An awesome pic" width="150" height="120" />
          <div class="likebox">
            <a href=""><img src="{{MEDIA_URL}}img/like.jpg" /></a><a href=""><img src="{{MEDIA_URL}}img/notlike.jpg" /></a>
          </div>
        </div>
      </div>
    </div>
    <div class="photo-top-item second">
      <div class="photo-place">
        08
      </div>
      <div class="top-photo">
        <div class="pic-frame">
          <img src="{{MEDIA_URL}}img/pic-please.png" alt="An awesome pic" width="150" height="120" />
          <div class="likebox">
            <a href=""><img src="{{MEDIA_URL}}img/like.jpg" /></a><a href=""><img src="{{MEDIA_URL}}img/notlike.jpg" /></a>
          </div>
        </div>
      </div>
    </div>
    <div class="photo-top-item">
      <div class="photo-place">
        09
      </div>
      <div class="top-photo">
        <div class="pic-frame">
          <img src="{{MEDIA_URL}}img/pic-please.png" alt="An awesome pic" width="150" height="120" />
          <div class="likebox">
            <a href=""><img src="{{MEDIA_URL}}img/like.jpg" /></a><a href=""><img src="{{MEDIA_URL}}img/notlike.jpg" /></a>
          </div>
        </div>
      </div>
    </div>
    <div class="photo-top-item second">
      <div class="photo-place">
        10
      </div>
      <div class="top-photo">
        <div class="pic-frame">
          <img src="{{MEDIA_URL}}img/pic-please.png" alt="An awesome pic" width="150" height="120" />
          <div class="likebox">
            <a href=""><img src="{{MEDIA_URL}}img/like.jpg" /></a><a href=""><img src="{{MEDIA_URL}}img/notlike.jpg" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="party-top">
  <header>
    <img src="{{MEDIA_URL}}img/top-party.jpg" />
  </header>
  <div class="party-top-content clearfix">
    <div class="album">
      <div class="album-title">
        <a href="">Alpha Tau Omega</a>
      </div>
      <div class="album-cover">
        <a href=""><img src="{{MEDIA_URL}}img/people.jpg" alt=""></a>
        <div class="likebox">
          <a href=""><img src="{{MEDIA_URL}}img/like.jpg" /></a><a href=""><img src="{{MEDIA_URL}}img/notlike.jpg" /></a>
        </div>
      </div>
    </div>
    <div class="album">
      <div class="album-title">
        <a href="">Alpha Tau Omega</a>
      </div>
      <div class="album-cover">
        <a href=""><img src="{{MEDIA_URL}}img/people.jpg" alt=""></a>
        <div class="likebox">
          <a href=""><img src="{{MEDIA_URL}}img/like.jpg" /></a><a href=""><img src="{{MEDIA_URL}}img/notlike.jpg" /></a>
        </div>
      </div>
    </div>
    <div class="album">
      <div class="album-title">
        <a href="">Alpha Tau Omega</a>
      </div>
      <div class="album-cover">
        <a href=""><img src="{{MEDIA_URL}}img/people.jpg" alt=""></a>
        <div class="likebox">
          <a href=""><img src="{{MEDIA_URL}}img/like.jpg" /></a><a href=""><img src="{{MEDIA_URL}}img/notlike.jpg" /></a>
        </div>
      </div>
    </div>
    <div class="album">
      <div class="album-title">
        <a href="">Alpha Tau Omega</a>
      </div>
      <div class="album-cover">
        <a href=""><img src="{{MEDIA_URL}}img/people.jpg" alt=""></a>
        <div class="likebox">
          <a href=""><img src="{{MEDIA_URL}}img/like.jpg" /></a><a href=""><img src="{{MEDIA_URL}}img/notlike.jpg" /></a>
        </div>
      </div>
    </div>
  </div>
</div>
       
{% endblock %}
