{% extends "site_base.html" %}
{% block content_body%}
<div class="university">
  <header>
    <img src="{{MEDIA_URL}}img/recent.jpg" alt="">
  </header>
</div>
<div class="albums">
  <div class="albums-row clearfix">
    <div class="album">
      <div class="album-title">
        <a href="">Alpha Tau Omega</a>
      </div>
      <div class="album-cover">
        <a href=""><img src="{{MEDIA_URL}}img/people.jpg" alt=""></a>
        <div class="likebox">
          <a href=""><img src="{{MEDIA_URL}}img/like.jpg" /></a><a href=""><img src="{{MEDIA_URL}}img/notlike.jpg" /></a>
        </div>
      </div>
    </div>
    <div class="album">
      <div class="album-title">
        <a href="">Alpha Tau Omega</a>
      </div>
      <div class="album-cover">
        <a href=""><img src="{{MEDIA_URL}}img/people.jpg" alt=""></a>
        <div class="likebox">
          <a href=""><img src="{{MEDIA_URL}}img/like.jpg" /></a><a href=""><img src="{{MEDIA_URL}}img/notlike.jpg" /></a>
        </div>
      </div>
    </div>
    <div class="album last">
      <div class="album-title">
        <a href="">Alpha Tau Omega</a>
      </div>
      <div class="album-cover">
        <a href=""><img src="{{MEDIA_URL}}img/people.jpg" alt=""></a>
        <div class="likebox">
          <a href=""><img src="{{MEDIA_URL}}img/like.jpg" /></a><a href=""><img src="{{MEDIA_URL}}img/notlike.jpg" /></a>
        </div>
      </div>
    </div>
  </div>
  <div class="albums-row clearfix">
    <div class="album">
      <div class="album-title">
        <a href="">Alpha Tau Omega</a>
      </div>
      <div class="album-cover">
        <a href=""><img src="{{MEDIA_URL}}img/people.jpg" alt=""></a>
        <div class="likebox">
          <a href=""><img src="{{MEDIA_URL}}img/like.jpg" /></a><a href=""><img src="{{MEDIA_URL}}img/notlike.jpg" /></a>
        </div>
      </div>
    </div>
    <div class="album">
      <div class="album-title">
        <a href="">Alpha Tau Omega</a>
      </div>
      <div class="album-cover">
        <a href=""><img src="{{MEDIA_URL}}img/people.jpg" alt=""></a>
        <div class="likebox">
          <a href=""><img src="{{MEDIA_URL}}img/like.jpg" /></a><a href=""><img src="{{MEDIA_URL}}img/notlike.jpg" /></a>
        </div>
      </div>
    </div>
    <div class="album last">
      <div class="album-title">
        <a href="">Alpha Tau Omega</a>
      </div>
      <div class="album-cover">
        <a href=""><img src="{{MEDIA_URL}}img/people.jpg" alt=""></a>
        <div class="likebox">
          <a href=""><img src="{{MEDIA_URL}}img/like.jpg" /></a><a href=""><img src="{{MEDIA_URL}}img/notlike.jpg" /></a>
        </div>
      </div>
    </div>
  </div>
  <div class="albums-row clearfix">
    <div class="album">
      <div class="album-title">
        <a href="">Alpha Tau Omega</a>
      </div>
      <div class="album-cover">
        <a href=""><img src="{{MEDIA_URL}}img/people.jpg" alt=""></a>
        <div class="likebox">
          <a href=""><img src="{{MEDIA_URL}}img/like.jpg" /></a><a href=""><img src="{{MEDIA_URL}}img/notlike.jpg" /></a>
        </div>
      </div>
    </div>
    <div class="album">
      <div class="album-title">
        <a href="">Alpha Tau Omega</a>
      </div>
      <div class="album-cover">
        <a href=""><img src="{{MEDIA_URL}}img/people.jpg" alt=""></a>
        <div class="likebox">
          <a href=""><img src="{{MEDIA_URL}}img/like.jpg" /></a><a href=""><img src="{{MEDIA_URL}}img/notlike.jpg" /></a>
        </div>
      </div>
    </div>
    <div class="album last">
      <div class="album-title">
        <a href="">Alpha Tau Omega</a>
      </div>
      <div class="album-cover">
        <a href=""><img src="{{MEDIA_URL}}img/people.jpg" alt=""></a>
        <div class="likebox">
          <a href=""><img src="{{MEDIA_URL}}img/like.jpg" /></a><a href=""><img src="{{MEDIA_URL}}img/notlike.jpg" /></a>
        </div>
      </div>
    </div>
  </div>
  <div class="albums-row clearfix">
    <div class="album">
      <div class="album-title">
        <a href="">Alpha Tau Omega</a>
      </div>
      <div class="album-cover">
        <a href=""><img src="{{MEDIA_URL}}img/people.jpg" alt=""></a>
        <div class="likebox">
          <a href=""><img src="{{MEDIA_URL}}img/like.jpg" /></a><a href=""><img src="{{MEDIA_URL}}img/notlike.jpg" /></a>
        </div>
      </div>
    </div>
    <div class="album">
      <div class="album-title">
        <a href="">Alpha Tau Omega</a>
      </div>
      <div class="album-cover">
        <a href=""><img src="{{MEDIA_URL}}img/people.jpg" alt=""></a>
        <div class="likebox">
          <a href=""><img src="{{MEDIA_URL}}img/like.jpg" /></a><a href=""><img src="{{MEDIA_URL}}img/notlike.jpg" /></a>
        </div>
      </div>
    </div>
    <div class="album last">
      <div class="album-title">
        <a href="">Alpha Tau Omega</a>
      </div>
      <div class="album-cover">
        <a href=""><img src="{{MEDIA_URL}}img/people.jpg" alt=""></a>
        <div class="likebox">
          <a href=""><img src="{{MEDIA_URL}}img/like.jpg" /></a><a href=""><img src="{{MEDIA_URL}}img/notlike.jpg" /></a>
        </div>
      </div>
    </div>
  </div>
  <div class="albums-row clearfix">
    <div class="album">
      <div class="album-title">
        <a href="">Alpha Tau Omega</a>
      </div>
      <div class="album-cover">
        <a href=""><img src="{{MEDIA_URL}}img/people.jpg" alt=""></a>
        <div class="likebox">
          <a href=""><img src="{{MEDIA_URL}}img/like.jpg" /></a><a href=""><img src="{{MEDIA_URL}}img/notlike.jpg" /></a>
        </div>
      </div>
    </div>
    <div class="album">
      <div class="album-title">
        <a href="">Alpha Tau Omega</a>
      </div>
      <div class="album-cover">
        <a href=""><img src="{{MEDIA_URL}}img/people.jpg" alt=""></a>
        <div class="likebox">
          <a href=""><img src="{{MEDIA_URL}}img/like.jpg" /></a><a href=""><img src="{{MEDIA_URL}}img/notlike.jpg" /></a>
        </div>
      </div>
    </div>
    <div class="album last">
      <div class="album-title">
        <a href="">Alpha Tau Omega</a>
      </div>
      <div class="album-cover">
        <a href=""><img src="{{MEDIA_URL}}img/people.jpg" alt=""></a>
        <div class="likebox">
          <a href=""><img src="{{MEDIA_URL}}img/like.jpg" /></a><a href=""><img src="{{MEDIA_URL}}img/notlike.jpg" /></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pagination">
  <a href="">1</a>
  <a href="">2</a>
  <a class="act" href="">3</a>
  <a href="">4</a>
  <a href="">5</a>
  <a>...</a>
  <a href="">101</a>
  <a href="">102</a>
  <a href="">103</a>
  <div class="show-count">
    <label for="show">Show</label>
    <select>
      <option value="20">20</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>
  </div>
</div>
{%endblock%}
